{% extends "base.html" %}
{% load static %}

{% block title_page %}Infographics{% endblock title_page %}

{% block content %}
<h1 class="ion-person-stalker"> Where HTKW lives</h1>
<p>Zoom into the map and move around to see where we live.</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
       aria-valuemax="100" style="width: 2em; min-width: 2em;">Loading markers ...</div>
</div>

<div id="map" style="height: 600px; width:100%; margin-top:10px"></div>
<script>
  function sleep(miliseconds) {
    var currentTime = new Date().getTime();
    while (currentTime + miliseconds >= new Date().getTime()) { }
  }

  var map;
  function initialize() {
    var view_center = new google.maps.LatLng(47.3, 8.7);
    // var swiss_center = new google.maps.LatLng(46.83779, 8.28087);  // zoom: 8
    var mapOptions = {
      zoom: 9,
      center: view_center,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById('map'), mapOptions);

    image_path = "{% static 'm' %}";
    var markerCluster = new MarkerClusterer(map, [], {imagePath: image_path});

    {% for location in lat_lngs %}
        setTimeout(function()
        {
            marker = addMarkerToCluster({{ location.0 }}, {{ location.1 }}, "H", "H", markerCluster);
            var value = 100 * {{ forloop.counter0 }} / ({{ forloop.revcounter0 }} + {{ forloop.counter0 }});
            $('.progress-bar').css('width', value+'%').attr('aria-valuenow', value);
        }, 50 * {{ forloop.counter0 }});
    {% endfor %}
    setTimeout(function()
    {
        $('.progress-bar').css('width', '100%').attr('aria-valuenow', 100).html('Done!');
        map.setZoom(8);
    }, 50 * {{ lat_lngs|length }});
  }

  function addMarkerToCluster(lat, lng, title, id, markerCluster) {
    var latlng = new google.maps.LatLng(lat, lng);
    var marker = new google.maps.Marker({
        map: map,
        position: latlng,
        title: title,
        label: id
    });
    markerCluster.addMarker(marker);
  }
</script>
<script src="{% static 'markerclusterer.js' %}">
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBycULX6zbWdd26hRXVxEg2zM_x8cNeZqc&amp;callback=initialize_center">
</script>

<p>For privacy reasons, no higher resolution than city/town is shown.</p>

<h2 class="ion-planet"> Center of gravity</h2>
<div id="map_center" style="height: 600px; width:100%; margin-top:10px"></div>
<script>
  var map_center;

  function initialize_center() {
    var center_of_gravity = new google.maps.LatLng({{ center_of_gravity.0 }}, {{ center_of_gravity.1 }});
    var mapOptions = {
      zoom: 12,
      center: center_of_gravity,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map_center = new google.maps.Map(document.getElementById('map_center'), mapOptions);

    var marker = new google.maps.Marker({
        map: map_center,
        position: center_of_gravity,
        title: "Center of gravity",
        label: "C"
    });

    initialize();
  }
</script>

<p>Center of gravity is defined by calculating the arithmetic mean of all lat/long of city/town centers.</p>
<p>The weight for each employee is <code>1.0</code>.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

{% endblock content %}
